<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile="rails.log" startupTimeLimit="20" processPath="C:\Windows\System32\cmd.exe /E:ON /K C:\RailsInstaller\Ruby2.2.0\setup_environment.bat C:\RailsInstaller" arguments="rails s -b 0.0.0.0">
            <environmentVariables>
                <environmentVariable name="foo" value="bar" />
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>