<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to Roc Cloudy!</h1>
	<p>
		Your account has now been approved. <a href="http://roccloudy.com">Log in here to check out our products.</a>
	</p>
	<p>Thanks for joining and have a great day!</p>
</body>