<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to RocCloudy!</h1>
	<p>
		We are currently processing your account for approval.<br>
		Please ensure your account details are correct.
	</p>
	<p>Thanks for joining and have a great day!</p>
</body>