<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to RocCloudy!</h1>
	<p>
		Please fill in your account details and we will process your approval.<br>
	</p>
	<p>
		<b><%= link_to 'GO TO MY ACCOUNT', new_account_path() %></b>
	</p>
	<p>Thanks for joining and have a great day!</p>
</body>