<div class='about-brand'>
Founded in 1995, ROC Cloudy’s aim is simple; to create Australian designer collections of fashion-forward, trend setting sunglasses and accessories, that are functional, understated and affordable. Today, we focus on providing fashion forward retailers and inspired individual customers our high quality eyewear.<br>

Our testing ground is our home Sydney, Australia, which is drenched in endless sunshine.<br>

We continue to be a leading established independent sunglass company housing numerous brands with a global following of both local and international audiences. Our designs are inspired by the diverse lifestyle offered by fashion culture around the globe and we are continually working on providing the latest styles to keep up with the fast paced trends in the industry.<br>
</div>