<h1>Thank you - your order has been sent</h1>
<p>
<% if current_user.has_role? :admin %>
Please select a new customer to place another order.
<% else %>
We will be in contact soon to confirm and process your order.
<% end %>
</p>