<h1>Thank you - your order has been sent</h1>
<p>
<% if (current_user.has_role? :admin) || (current_user.has_role? :rep) %>
Please select a new customer to place another order.
<%= link_to 'CHOOSE CUSTOMER....', accounts_path, class: 'btn btn-default' %>
<% else %>
We will be in contact soon to confirm and process your order.
<% end %>
</p>