<div id="comingsoon">
<h1>ROC CLOUDY<hr>Wholesale portal coming soon...</h1>
</div>
<div class="center">
<div class="homecontainer desktoponly">
<div class='homeimg' style="background-image: url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959158/slideshow_slide_2_image_nvxh8t.jpg');">
<%= link_to home_roc_path, class: 'homeoverlay' do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/roc_nrnt5m.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959114/slideshow_3_gjyoh5.jpg');">
<%= link_to home_polasports_path, class: 'homeoverlay'  do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/polasports_gmkhsz.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959119/hero_slide_1_mv3eby.jpg');">
<%= link_to home_locello_path, class: 'homeoverlay'  do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/locello_owt9fc.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959121/3_hlm0gc.png');">
<%= link_to home_unity_path, class: 'homeoverlay'  do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/unity_ehatxv.gif'>
<% end %>
</div>
</div>
</div>