<div id="comingsoon">
<h1>ROC CLOUDY<hr>Wholesale portal coming soon...</h1>
</div>
<div class="center">
<div class="homecontainer desktoponly">
<div class='homeimg' style="background-image: url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959158/slideshow_slide_2_image_nvxh8t.jpg');">
<%= link_to home_roc_path, class: 'homeoverlay' do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480980887/roc_backless_ltdncr.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959114/slideshow_3_gjyoh5.jpg');">
<%= link_to home_polasports_path, class: 'homeoverlay'  do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480980887/polasports_backless_jhozlk.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959119/hero_slide_1_mv3eby.jpg');">
<%= link_to home_locello_path, class: 'homeoverlay'  do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480979854/locello_backless_q6dgfz.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959121/3_hlm0gc.png');">
<%= link_to home_unity_path, class: 'homeoverlay'  do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480980887/unity_backless_fzdl6h.png'>
<% end %>
</div>
</div>
</div>