<div id="comingsoon">
<h1>ROC CLOUDY<hr>Wholesale portal coming soon...</h1>
</div>
<div class="center">
<div class="homecontainer desktoponly">
<div class='homeimg' style="background-image: url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959158/slideshow_slide_2_image_nvxh8t.jpg');">
<%= link_to 'Roc', home_roc_path, class: "homeoverlay" %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959114/slideshow_3_gjyoh5.jpg');">
<%= link_to 'Polasports', home_polasports_path, class: "homeoverlay" %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959119/hero_slide_1_mv3eby.jpg');">
<%= link_to 'Locello', home_locello_path, class: "homeoverlay" %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/roc-cloudy/image/upload/v1477959121/3_hlm0gc.png');">
<%= link_to 'Unity', home_unity_path, class: "homeoverlay" %>
</div>
</div>
</div>