<div id="comingsoon">
<h1>ROC CLOUDY<hr>Wholesale portal coming soon...</h1>
</div>
<div class="center">
<div class="homecontainer desktoponly">
<div class='homeimg' style="background-image: url('http://res.cloudinary.com/ddmbp4xnw/image/upload/v1496182188/Roc_vbtawr.jpg');">
<%= link_to home_roc_path, class: 'homeoverlay' do %>
<img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480980887/roc_backless_ltdncr.png'>
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/ddmbp4xnw/image/upload/v1501734012/Polasports_-_Print_guuisk.jpg');">
<%= link_to home_polasports_path, class: 'homeoverlay'  do %>
<!-- <img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480980887/polasports_backless_jhozlk.png'> -->
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/ddmbp4xnw/image/upload/v1501734012/Locello_-_Print_plobj1.jpg');">
<%= link_to home_locello_path, class: 'homeoverlay'  do %>
<!-- <img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480979854/locello_backless_q6dgfz.png'> -->
<% end %>
</div><div class='homeimg' style="background-image:url('http://res.cloudinary.com/ddmbp4xnw/image/upload/v1501734012/Unity_Sunglasses_-_Print_n45gtw.jpg');">
<%= link_to home_unity_path, class: 'homeoverlay'  do %>
<!-- <img src='http://res.cloudinary.com/roc-cloudy/image/upload/v1480980887/unity_backless_fzdl6h.png'> -->
<% end %>
</div>
</div>
</div>