<div style="text-align:center;">
<b>BOUTIQUE POLARISED SUNGLASSES</b><br>

Locello woman balance family, work, love and taking time for herself. In her busy lifestyle she wants a sunglass for all the occasions.
She knows how to exercise her right to choice, always looking for  style and affordability, but will not compromise on quality and protection.<br>

Locello is a classic & sophisticated range of 100% UV protected and polarised women's sunglasses. <br>
All sunglasses are elegantly presented with a protective case & cleaning cloth and designed with timeless beauty to protect against harsh sun conditions.<br>
</div>