<div class='about-brand'>
POLASPORTS sunglasses are designed with the outdoor enthusiast in mind. POLASPORTS creators have combined sports with fashion to create a truly outstanding product.<br>

Fitted with PolaTec II polarised lenses, these sunglasses offer the highest protection, and reduce reflective glare that is present on surfaces such as water, sand and snow.<br>

The PolaTec II lens is a TAC 0.65 lens (Tri-Acetate Polarised Lens) and contains triple coated sandwich lens which makes them extremely strong, shatterproof and they offer less impurities than most polarised lenses in the current market.<br>

POLASPORTS is a brand of Roc Cloudy Pty Ltd.  As a company Roc Eyewear has been supplying sunglasses to the Australian, New Zealand & International Markets since 1995.<br>

All our sunglasses are designed in Australia by a dedicated design team, who travel the globe, keeping up with sunglass trends and forecasts to ensure that we bring to our ranges the best shapes, fits, frames and styles for our valued customers.<br>

<b>What does POLARIZED really mean?</b><br>
When sunlight bounces off a reflective surface such as glass, water or snow, the result is glare. Glare can be much brighter than the light that caused it, and can irritate or even damage the unprotected eye.<br>

Polarised lenses block vertically-reflected light by horizontally aligning the crystalline structure of the lens. This makes them ideally suited for use around water, snow, and for driving.<br>

Avoid poor quality polarised lenses, because poorly matched lenses may result in eye strain. Polarised lenses eliminate glare (which causes eye fatigue, discomfort, and temporary blurring of vision) and allows for the natural perception of colour; no compromise of reds, greens, and yellows.<br>

If you want a product that is guaranteed for customer satisfaction, than look no further than POLASPORTS. <br>
</div>