<div class='about-brand'>
PProoudly Australian owned, POLASPORTS sunglasses are designed with the everday sportsperson and outdoor enthusiast in mind. Perfect for the harshest sun conditions POLASPORTS provide a fusion of sports sensibilities with fashionable frames to create an exceptional and enduring product.
</div>