<div style="text-align:center;">
At ROC Eyewear our aim is simple; to create an Australian designer collection of fashion-forward, trend setting sunglasses and accessories. That are functional, understated and affordable. Our testing ground is our home Sydney, Australia, which is drenched in endless sunshine. <br>

ROC Eyewear continues to be a leading established independent sunglass brand with a global following of both fashion retailers and inspired individual customers. Our designs are inspired by the diverse lifestyle offered by fashion culture around the globe. <br>

To us there is beauty amongst design. <br>

<img src="http://cdn.shopify.com/s/files/1/0611/5541/files/1._ROC_Rebirth_Campaign_Image_9_large.jpg?13015235198097241115">
</div>