
<h2>group codes in database being used by active products</h2>
Code="A ", Description="ACCESSORIES "<br>
Code="C ", Description="ROC SUNGLASSES "<br>
Code="R ", Description="READING GLASSES "<br>
Code="D ", Description="CHILD SUNGLASSES "<br>
Code="S ", Description="STANDS "<br>
Code="E ", Description="UNITY SUNGLASSES "<br>
Code="I ", Description="PRODUCTS DEVLOPMENT "<br>
Code="L ", Description="POLASPORTS "<br>
Code="LC ", Description="LOCELLO "<br>
Code="J ", Description="ROC HATS "<br>
<hr>
<h2>general ledger set codes for each attache product</h2>
<% @uniqproducts.each do |p| %>
	<%= p %><br>
<% end %><hr>
<h2>general ledger set codes and descriptions(names) from genledger_sets</h2>
<% @uniqgenledger.each do |g| %>
	<%= g %><br>
<% end %>
