<h1>Orders</h1>
<% if @pendingorders.any? %>
	<ul>
	<% @pendingorders.each do |o| %>
		<%= link_to o do %>
			<li><%= o.sent.strftime("%d/%m/%y | %I:%M:%S %p") %></li>
		<% end %>
	<% end %>
	</ul>
<% else %>
	you haven't placed any orders yet
<% end %>

<hr>
<% if @approvedorders.any? %>
<h1>Approved Orders</h1>
<% @approvedorders.each do |order| %>
<% end %>
<%= will_paginate @approved %>
<hr>
<% end %>
<% if @sentorders.any? %>
<h1>Fulfilled Orders</h1>
<% @sentorders.each do |order| %>
<% end %>
<%= will_paginate @sentorders %>
<% end %>