<%= simple_form_for(@order, action: "orderout", method: "get") do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

   
notes:
    <%= f.text_field :notes %>

    <%= f.button :submit %>
  </div>
<% end %>
