<%= simple_form_for(@order, url: {action: "orderout"}, html: {method: "patch"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

   
notes:
    <%= f.text_field :notes %>

    <%= f.button :submit %>
  </div>
<% end %>
