<h1>ROC CLOUDY PTY LTD</h1>
<p>
8 Ralph Street, Alexandria  NSW  2015<br>
<b>T</b> +61 2 9669 3636<br>
<b>F</b> +61 2 9669 1118<br>
<b>E</b> office@roccloudy.com<br>
<b>W</b> www.roccloudy.com | www.unityeyewear.com.au | www.polasports.com.au | www.locello.com.au
</p>
<hr><hr>
Shipping to:<br>
<%= @thisorder.user.account.street %><br>
<%= @thisorder.user.account.suburb %><br>
<%= @thisorder.user.account.company %><br>
<hr>

<hr><b>TOTAL : $<%= @thisorder.total %></b>
<hr><hr>
<i>Please be advised this is an order confirmation only. Do not pay, an invoice will follow.</i>
<hr><hr>