/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
/* @font-face {
    font-family: 'somaticrounded';
    src: font-url('somatic-rounded-webfont.woff2') format('woff2'),
         font-url('somatic-rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
	font-family: 'somaticrounded';
} */

.tinytext {
	font-size:.5em;
	text-transform:uppercase;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
}

.menu-icon{
	max-height:4em;
	padding-top:0;
	padding-bottom:0;
}
.navbar-nav>li>a{
	height: 4em;
    padding-top: 1em;
	padding-bottom:0;
}
.menu-icon img{
	height:4em;
	width:auto;
	position: relative;
    bottom: .5em;
}
.navbar-brand{
	height:6em;
	text-align:center;
}
.qty{
	font-weight:bold;
	position:absolute;
	display: inline-block;
}
#mimic{
	position: fixed;
	bottom:0;
	z-index:9;
    width: 100%;
    text-align: center;
    background: #fff;
    border:1px solid black;
    padding:.5em;
}

#comingsoon{
display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #FFF;
	text-align:center;
	z-index:999;
}
#comingsoon h1 {
padding-top:3em;
	margin:auto;
	display:block;
}
* {
  -webkit-transition: all .5s;
}

body {
	font-family: 'Scope One', serif;
}

.navbar-default .navbar-nav>li>a:hover{
 box-shadow: .1em .1em 1em #CCC;
 }
 @media (min-width: 768px){
 .navbar-nav>li {
     border-left: 1px solid #CCC;
 } 
 .navbar-nav>li:last-of-type{
     border-right: 1px solid #CCC;
 } }
a:hover, .homeoverlay:hover{
	color:#000;
	background-color:transparent;
	background-size:200%;
	}

a:hover .product-thumbnail{
	border-radius: 10px;
}

.center{
	text-align:center;
}
.homecontainer{
	width:100%;
	height:auto;
	margin:auto;
}

.homeimg {
display:inline-block;
width:45vw;
height:30vw;
margin:0;
border:0;
background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.homeimg a:visited{
	color:#FFF;
	opacity:inherit;
}
.homeimg a:hover{
	text-decoration:none;
	cursor:pointer;
	color:#000;
}


.homeoverlay{
	width:100%;
	height:100%;
	font-size: 3em;
	font-weight:100;
	background:rgba(0,0,0,.3);
	display:block;
	color: #FFF;
	text-decoration: none;
	vertical-align:middle;
	padding-top:35%;
}
.navbar{
	margin-bottom:0;
	z-index:999;
	box-shadow:none;
	background: #FFF;
	}

.footer {
	text-align:center;
	width:100%;
	display:block;
	position:relative;
  background:#FFFFFF;
  border-top:1px solid #ACACAC;
	bottom:0;
	left:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Vesper Libre', serif;
}

p {
	padding:1em;
}

.col-md-3, .col-md-4, .col-md-5{
padding-top:4em;
}
.vesper {
	font-family: 'Vesper Libre', serif;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.scope {
	font-family: 'Scope One', serif;
}

.field {
	margin-bottom:1em;
}

.table .btn {
	color: #FFF !important;
}
td{
	border-left:1px solid #CCC;
}
.highlight-field input{
	background: #FFFF00 !important;
	box-shadow: 0 0 1em #000;
}
.btn {
	border: none;
	margin:5px;
}
.btn:hover{
	background:#00CC00;
}

.product{
	display:inline-block;
	margin:2em;
}

img {
	max-height:100%;
	max-width:100%;
}
.product-thumbnail {
	max-width:4em;
	display:inline-block;
	margin-bottom:0;
	border:5px solid #FFF;
}
.product {
	width:30%;
	margin:auto;
}
.product img {
max-height:18vw;
max-width:18vw;	
}

.cart {
    background: #FFF;
    box-shadow: none;
    min-height: 100vh;
    border-left: 1em solid #ccc;
    border-right: 0 solid #ccc;
    border-top: 1em solid #ccc;
    border-bottom: 1em solid #ccc;
    border-radius: 7em 0 0 7em;
    text-align:right;
}
.cart>p>i{
	margin-right:6em;
}
.po {
	border-top: 1px solid #FFF;
	padding:1em;
	display:block;
}
.remove-btn {
	vertical-align:middle;
}
#productlist a:hover{
	background: transparent;
	color: #000;
}
@media screen and (min-device-width:800px){
.mycontainer{
	padding-left:1em;
}
}

@media screen and (max-device-width:800px){
.cart{
	display:none;
}
	.mycontainer{
	padding:0 1em 0 1em;
	}
	.desktoponly{
	display:none;
	}
}


