/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  -webkit-transition: all 1s;
}

body {
	font-family: 'Scope One', serif;
}
.navbar{
	margin-bottom:0;
	z-index:999;
	box-shadow:none;
}
.footer {
	text-align:center;
	width:100%;
	display:block;
	position:fixed;
  background:#FFFFFF;
  border-top:1px solid #ACACAC;
	bottom:0;
	left:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Vesper Libre', serif;
}

p {
	padding:1em;
}

.col-md-3, .col-md-4, .col-md-5{
padding-top:4em;
}
.vesper {
	font-family: 'Vesper Libre', serif;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.scope {
	font-family: 'Scope One', serif;
}

.field {
	margin-bottom:1em;
}

.table .btn {
	color: #FFF !important;
}
td{
	border-left:1px solid #CCC;
}
.highlight-field input{
	background: #FFFF00 !important;
	box-shadow: 0 0 1em #000;
}
.btn {
	border: none;
	margin:5px;
}
.btn:hover{
	background:#00CC00;
}

.product{
	display:inline-block;
	margin:2em;
}

img {
	max-height:100%;
	max-width:100%;
}
.product img {
max-height:15em;
max-width:15em;
}

.cart {
	background: #CCC;
	box-shadow:none;
min-height:100vh;
}

.po {
	border-top: 1px solid #FFF;
	padding:1em;
	display:block;
}
.remove-btn {
	vertical-align:middle;
}
#productlist a:hover{
	background: transparent;
}
@media screen and (min-device-width:800px){
.mycontainer{
	padding-left:1em;
}
}

@media screen and (max-device-width:800px){
.cart{
	display:none;
}
	.mycontainer{
	padding:0 1em 0 1em;
	}
}