// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide-button{
	margin:1em;
}
.orderbox{
	width:100%;
}
.btn.btn-success{
	margin-top:.7em;
}
@media screen and (max-device-width:767px) , (max-width:767px){
	.product{
	width:100%;
	}

}