// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide-button{
	margin:1em;
}
.orderbox{
	width:100%;
}
.btn.btn-success{
	margin-top:.7em;
}
.add-to-cart{
	transition:opacity 1s;
	-webkit-transition:opacity 1s;
}
@media screen and (max-device-width:767px) , (max-width:767px){
	.product{
	width:100%;
	}

}
.qty .fa-pencil{
	margin-left:.5em;
}

.highlighted-hidden .product-index-text{
	background: rgba(255,0,255,.2);
}