<p id="notice"><%= notice %></p>
Product description (if it's in Attache)
<br>
Enter QTY and add to cart button (product#add)
<p>
  <strong>Name:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Price:</strong>
  show the correct price
  <%= @product.price1 %>
</p>
<p>
<strong>product image</strong>
</p>
<%= link_to 'Back', products_path %>
